{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<!--  -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Change your password</h2>
            <p>You are about to make changes to your accout password </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    {% if form.errors %}

    <div class="container">
        <!-- {% for error in form.errors %} -->
        <div class="alert">


            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{form.errors}}

        </div>
        <!-- {% endfor %} -->
    </div>
    {% endif %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        {% comment %}

        <div data-aos="fade-up">
            <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
        </div>
        {% endcomment %}


        <div class="container" data-aos="fade-up">

            <div class="row mt-5">




                <div class="col-lg-4">

                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">

                    <form action="{% url 'password_change' %}" method="post" role="form" enctype="multipart/form-data" class="php-email-form">
                        {% csrf_token %}

                        <div class="row">


                            <div class="col-md-12 form-group m-2">
                                {{form|crispy}}
                                <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required> -->
                            </div>

                            <!-- <div class="col-md-6 form-group mt-3 mt-md-0">
                                {{form.first_name}}
                            </div> -->
                        </div>

                        <div class="form-group mt-3">
                            <!-- {{form.last_name}} -->
                            <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required> -->
                        </div>
                        <div class="form-group mt-3">
                            <!-- {{form.country}} -->
                            <!-- <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea> -->
                        </div>

                        {% if messages %}


                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            {% for message in messages %}
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="text-center"><button type="submit">Update changes</button></div>
                        <!-- <div class="text-right ">
                            <a href="{% url 'password_reset' %}" class="forget-link">
								Forgot password?
							</a>
                        </div> -->
                        <!-- <div class="text-center m-3"><a href="{% url 'password_reset' %}">Forgot password?</a></div> -->
                    </form>

                </div>
                <div class="col-lg-4">

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->

{% endblock content %}