{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<!--  -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Password Reset </h2>
            <p>Enter your FlexyTuta username, or the email address that you used to register. We'll send you an email with your username and a link to reset your password.
            </p>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    {% if form.errors %}

    <div class="container">
        <!-- {% for error in form.errors %} -->
        <div class="alert">


            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> {{form.errors}}

        </div>
        <!-- {% endfor %} -->
    </div>
    {% endif %}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">




        <div class="container" data-aos="fade-up">

            <div class="row mt-5">



                <div class="col-lg-4">

                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">

                    <form action="{% url 'password_reset' %}" method="post" role="form" enctype="multipart/form-data" class="php-email-form">
                        {% csrf_token %}

                        <div class="row">


                            <div class="col-md-12 form-group m-2">
                                <!-- {{form|crispy}} -->
                                <label for="email">Email address or username</label>
                                <input type="text" name="email" class="form-control" id="name" placeholder="Enter your email" required>
                            </div>


                        </div>




                        <div class="text-center">
                            <a href="{% url 'login' %}" class="btn btn-light" data-mdb-ripple-color="blue">Have an account? Sign in</a>
                            <button type="submit" class="btn btn-dark">Submit</button>
                            <!-- <div class="text-center m-3"><button href="{% url 'login' %}">Sign in</button></div> -->
                        </div>
                        <!-- <hr style="background-color: #43bdec"> -->

                        <div class="text-center m-3">Need help?, <a href="{% url 'contact' %}">contact us</a></div>
                    </form>

                </div>
                <div class="col-lg-4">

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->

{% endblock content %}