{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<!--  -->
<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Services</li>
        </ol>
        <h2>Services</h2>

    </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Services</h2>
            <p>Helpful products. Built with you in mind.</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-box blue">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Android App Development </h3>
                    <p>Order Android app development on Kotlin – the app language supported by Google. Built with high-security standards in its core, Kotlin contains fewer bugs, imposes no runtime overhead, and is fully compatible with Java. </p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-box orange">
                    <i class="ri-discuss-line icon"></i>
                    <h3>iOS App Development </h3>
                    <p>Save time and money on iOS development based on Swift. With “Swift” development goes faster, smoothly with fewer bugs. For legacy code built with Objective-C, our iOS developers can help you too.</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-box green">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Hybrid App Development</h3>
                    <p>We offer cross-platform app development services with React Native (backed by Facebook) React.Native allows you to get a good app without affecting app speed, efficiency and their overall look and feel. .</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-box red">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Blockchain </h3>
                    <p>Confused with the variety of possible options? Get research from our Blockchain R&D or obtain consulting services. We’ve built many mobile app wallets for ERC-20 based tokens and cryptocurrencies and completed other blockchain-related
                        projects. </p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-box purple">
                    <i class="ri-discuss-line icon"></i>
                    <h3>IoT Development.</h3>
                    <p>Seamless integration between IoT devices and mobile apps. Secure data interchange, data streaming and space optimization. We help to automate your business and decision-making process. .</p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
                <div class="service-box pink">
                    <i class="ri-discuss-line icon"></i>
                    <h3>Data Science</h3>
                    <p>Stemgon has been working as a data science app development company since 2007, unleashing the potential of Big Data for our customers </p>
                    <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- End Services Section -->



{% endblock content %}